<!DOCTYPE html>
<html>
<head>
  <title>Tweet4Yu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class='container'>
			<h1>Tweet4Yu</h1>
			<br />
		</div>
	</header>
	
	<div class="container" id='layout'>
		<br />
		<div class='row'> 
		  <div class='span12'>
        <div class="navbar"> 
          <div class="navbar-inner">
            
            <ul class="nav">
            
              <li>
                <%= link_to root_path do %>
                  <i class="icon-home"></i> Home
                <% end %>
              </li>
              <li>
                <%= link_to "Following", friends_main_path %>
              </li>
            
            </ul>
            
              
            <ul class="nav pull-right">
              <% if current_user %>
              <li>
                <%= link_to "Sign Out" ,destroy_user_session_path, :method => :delete %>
              </li>
              <% end %>
            </ul>
          </div> 
        </div>
      </div>
		</div>
		<%= yield %>
	</div>

</body>
</html>
